<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.myapp.bbs.BbsDao">
  <select id="selectList" resultType="BbsVo">
    SELECT BBS_NO, BBS_TITLE, BBS_WRITER, BBS_REG_DATE, BBS_COUNT
	FROM BBS
  </select>
  
  <resultMap type="BbsVo" id="BbsMap">
  	<id property="bbsNo" column="BBS_NO" />
	<result property="bbsTitle" column="BBS_TITLE" />
	<result property="bbsContent" column="BBS_CONTENT" />
	<result property="bbsWriter" column="BBS_WRITER" />
	<result property="bbsRegDate" column="BBS_REG_DATE" />
	<result property="bbsCount" column="BBS_COUNT" />
	<collection property="attList" ofType="AttachVo">
		<id property="attNo" column="ATT_NO" />
		<result property="attOrgName" column="ATT_ORG_NAME" />
		<result property="attNewName" column="ATT_NEW_NAME" />
		<result property="attBbsNo" column="ATT_BBS_NO" />
	</collection>
  </resultMap>
  
  <select id="select" resultMap="BbsMap"> 
	SELECT B.BBS_NO, B.BBS_TITLE, B.BBS_CONTENT, B.BBS_WRITER, B.BBS_REG_DATE, B.BBS_COUNT
		, A.ATT_NO, A.ATT_ORG_NAME, A.ATT_NEW_NAME, A.ATT_BBS_NO
	FROM BBS B LEFT OUTER JOIN ATTACH A ON B.BBS_NO = A.ATT_BBS_NO
	WHERE B.BBS_NO = #{bbsNo}
  </select>

  <insert id="insert">
   <!-- 자동생성되는 값을 파라미터 객체에 담아서 사용하기 위해서 selectKey 사용.  -->
	<!-- select문의 결과를 keyProperty에 담는다 --> 
	<!-- insert문 실행 전(BEFORE)에 select문을 실행하고, 그 결과인 int값을  파라미터객체의 bbsNo 속성(변수)에 저장  -->
	<!-- insert할 때 줬던 파라미터객체의 bbsNo에 조회결과를 담는다 -->
  	<selectKey resultType="int" keyProperty="bbsNo" order="BEFORE">  
   		select bbs_seq.nextval from dual
  	</selectKey>
  	INSERT INTO BBS
	    (BBS_NO, 
	    BBS_TITLE, 
	    BBS_CONTENT, 
	    BBS_WRITER, 
	    BBS_REG_DATE, 
	    BBS_COUNT)
	VALUES
	    (#{bbsNo}, 
	    #{bbsTitle}, 
	    #{bbsContent}, 
	    #{bbsWriter}, 
	    sysdate, 
	    0)
  </insert>

  <update id="update">
  	UPDATE BBS
	SET
	    BBS_TITLE = #{bbsTitle}, 
	    BBS_CONTENT = #{bbsContent}
	WHERE BBS_NO = #{bbsNo}
  </update>
  
  <delete id="delete">
  	DELETE FROM BBS
	WHERE BBS_NO = #{bbsNo}
  </delete>
  
</mapper>